@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$main-font: "Cabin", "sans-serif";
$info-font: "Roboto Mons", monospace;
$dark-grey: #222222;
$light-blue: #4cc9f0;
$light-grey: #bcbcbc;
$dark-blue: #138db4;
$hot-pink: #f72585;
$dark-pink: #9f1965;
$main-purple: #4f1cc3;
$medium-purple: #4361ee;
$dark-purple: #3a0ca3;
$light-pink: #dcb0c4;
$white: #e9e9e9;
$note-color: #7209b7;

body {
  background-color: $main-purple;
}

.recording-view {
  position: absolute;
  width: 485px;
  height: 125px;
  background-color: $light-pink;
  border-radius: 20px;
  top: 100px;
  left: 230px;
  overflow-x: scroll;
}

.magenta-logo {
  width: 50px;
  height: 55px;
}

.magenta-overlay {
  position: absolute;
  background-color: $hot-pink;
  opacity: 0.65;
  height: 100%;
  z-index: 1;
}

.active-magenta-overlay {
  opacity: 1 !important;
}

.additive-btn,
.am-btn,
.fm-btn,
.waveshaper-btn {
  transition-duration: 300ms;
  position: absolute;
  background-color: $medium-purple;
  border-radius: 20px;
  width: 180px;
  height: 100px;
  top: 60px;
  &:hover {
    cursor: grab;
    background-color: $dark-purple;
  }
}

.additive-btn {
  left: 40px;
}

.am-btn {
  left: 250px;
}

.fm-btn {
  left: 460px;
}

.waveshaper-btn {
  left: 670px;
}

.additive-btn-label,
.am-btn-label,
.fm-btn-label,
.waveshaper-btn-label {
  display: flex;
  justify-content: center;
  font-family: $main-font;
  font-size: 20px;
  color: $white;
  margin-top: 5px;
}

.active-btn {
  transition-duration: 300ms;
  transform: translateY(20px);
  background-color: $dark-purple;
}

.keyboard-container {
  position: relative;
  background-color: $dark-grey;
  width: 950px;
  height: 480px;
  border-radius: 20px;
  margin-top: 100px;
}

.info-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 485px;
  height: 50px;
  border-style: solid;
  border-radius: 20px;
  border-color: $hot-pink;
  top: 30px;
  left: 230px;
  overflow-x: scroll;
  white-space: nowrap;
}

.info-status {
  font-family: $info-font;
  color: $hot-pink;
  font-size: 25px;
  margin-left: 20px;
}

.speaker-1,
.speaker-2 {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  z-index: 1;
  background-color: $hot-pink;
  margin-top: 25px;
}

.speaker-1 {
  margin-left: 40px;
}

.speaker-2 {
  left: 750px;
}

.mini-speaker-1,
.mini-speaker-2 {
  position: absolute;
  background-color: $dark-pink;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 55px;
  left: 55px;
}

.play-btn,
.magenta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 300ms;
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: $light-blue;
  border-radius: 15px;
  top: 290px;
  &:hover {
    background-color: $dark-blue;
    cursor: grab;
  }
}

.play-btn {
  left: 390px;
}

.magenta-btn {
  left: 490px;
}

.active-adjust-btn {
  background-color: $dark-blue;
}

.play-icon,
.stop-icon,
.rewind-icon,
.magenta-icon {
  color: $dark-grey;
  width: 40px;
  height: 40px;
}

.white-key-1,
.white-key-2,
.white-key-3,
.white-key-4,
.white-key-5 {
  flex-direction: column;
  display: flex;
  position: absolute;
  background-color: $white;
  width: 100px;
  height: 230px;
  top: 375px;
  border: 1px solid $dark-grey;
  align-items: center;
  font-family: $main-font;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.white-key-1 {
  border-radius: 20px 0px 20px 20px;
  left: 230px;
}

.white-key-2 {
  border-radius: 0px 0px 20px 20px;
  left: 330px;
}

.white-key-3 {
  border-radius: 0px 0px 20px 20px;
  left: 430px;
}

.white-key-4 {
  border-radius: 0px 0px 20px 20px;
  left: 530px;
}

.white-key-5 {
  border-radius: 0px 20px 20px 20px;
  left: 630px;
}

.note {
  color: $light-grey;
}

.keypress {
  color: $dark-grey;
  margin-top: auto;
}

.active-white-key {
  transform-origin: top;
  transform: scale(0.97);
}

.active-speakers {
  transform: scale(1.05);
}

/* LFO freq slider */
.lfo-freq-slider {
  display: none;
  position: absolute;
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  top: 250px;
  left: 320px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $hot-pink;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $hot-pink;
  }
}

.note-signal {
  position: absolute;
  background-color: $note-color;
  height: 10px;
  width: 35px;
  &:hover {
    cursor: grab;
    opacity: 1 !important;
  }
}

.selected-note-signal {
  opacity: 1 !important;
}

.magenta-note-signal {
  position: absolute;
  height: 10px;
  width: 35px;
  background-color: $hot-pink !important;
  z-index: 1;
}

.deselect-btn {
  display: none;
  position: absolute;
  top: 200px;
  left: 620px;
  color: $note-color;
  font-size: 20px;
  z-index: 1;
  font-family: $main-font;
  &:hover {
    cursor: grab;
  }
}

/* The toggle switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 240px;
  left: 470px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch slider */
.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: $hot-pink;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px $hot-pink;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

.lfo-text-status {
  position: absolute;
  font-family: $main-font;
  color: $white;
  top: 250px;
  left: 410px;
}

.options-label {
  position: absolute;
  top: 60px;
  font-family: $main-font;
  font-size: 20px;
  color: $white;
}

.additive-option-label {
  left: 1145px;
}

.waveshaper-option-label {
  left: 1165px;
}

.am-option-label,
.fm-option-label {
  left: 1200px;
}

.options-container {
  position: absolute;
  top: 100px;
  left: 1025px;
  background-color: $medium-purple;
  width: 335px;
  height: 70px;
  border-radius: 20px;
  font-family: $main-font;
  font-size: 20px;
  padding: 20px;
  color: $white;
}

.fm-options {
  display: flex;
  white-space: nowrap;
}

.fm-sliders {
  margin-left: 20px;
}

.hide-options {
  display: none !important;
}

#mod-index,
#mod-freq {
  overflow: hidden;
  width: 150px;
  height: 12px;
  -webkit-appearance: none;
  background-color: $light-grey;
  border-radius: 20px;
  &::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: $light-grey;
    margin-top: -1px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    background: #434343;
    box-shadow: -80px 0 0 80px $light-grey;
    border-radius: 50%;
  }
}

.github-link {
  font-family: $main-font;
  color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 10px;
}

a {
  color: $light-blue;
}
